source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.React 2.1.0

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx